body {
  height: 100vh;
  display: flex;
  background-color: #d4d4d4;
  align-items: center;
}
#sidebar {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  width: 35px;
  height: 97%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow-x: hidden;
  transition: 0.4s;
}
#sidebar.active {
  width: 200px;
}
/*LOGO START SIDEBAR MANAGEMENT*/
#logo-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#logo-name div:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
#logo-name img {
  width: 20px;
  height: 20px;
  margin: 0.5em;
}
#logo-name i {
  padding-inline: 10px;
}

/*LIST MANAGEMENT*/
ul li button {
  display: flex;
  width: 100%;
  background-color: white;
  color: #d4d4d4;
  padding: 8px;
  border: none;
}

ul li button:hover {
  color: black;
  background-color: #e9e9e9;
}
#sidebar ul li.primary-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* padding: 8px; */
  color: #d4d4d4;
  cursor: pointer;
}

/* CENTRA L'ICONA CON LA VOCE DEL MENU */
#sidebar ul li .mini-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar ul li button i {
  margin-right: 0.5em;
  width: 20px;
  height: 20px;
}

/* #sidebar ul li:hover {
  color: black;
  background-color: #e9e9e9;
} */

#logo-name:hover {
  background-color: #e9e9e9;
}

/* UNDERMENU */
ul li ul {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.4s;
}

ul li ul li {
  padding: 8px 8px 8px 40px;
}

ul li ul li:hover {
  color: black;
  background-color: #e9e9e9;
}

/*animazione tendina home*/
ul li ul.home-show {
  height: 100px;
}
/*animazione tendina calender*/
ul li ul.calender-show {
  height: 100px;
}
/*animazione tendina message*/
ul li ul.message-show {
  height: 100px;
}
/*animazione tendina project*/
ul li ul.project-show {
  height: 100px;
}
/*animazione tendina progress*/
ul li ul.progress-show {
  height: 100px;
}
/*animazione tendina goal*/
ul li ul.goal-show {
  height: 100px;
}
